.footer_container {
  /* margin: 30px 0px; */
  background-color: #d0cbd6;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.footer > .icons > span {
  padding: 0px 20px;
  font-size: 25px;
}

.icons > span > a {
  color: #000;
}
